h3{
    color: aliceblue;
    padding: 10px;
    /*passamento interno*/
    border: 1px solid blue;
}

/* 
Background color

Cor de fundo da tela. 
*/

.b{
    background-color: red;
}

.bg-opacity{
    background-color: green;
    opacity: 0.8;
}

.rgba-opacity{
    background-color: rgba(90, 120, 20, 0.2);
    color: #000;
} 

/*
como centralizar imagem - CSS 
background-position: center;
background-size: cover;
São comandos que ajudam a centralizar o tamanho das imagens. 
*/

.height-width{
    height: 200px;
    width: 100px;
    background-color: red;
} 

/*
Padding

Espaçamento interno, recurso para dar uma distância entre o conteúdo e o texto das extremidades. 
*/
.withou-paddind{
    padding: 20px;
}

